<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card formLogin">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-error *ngIf="email.invalid">
              {{getErrorEmailMessage()}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="password" type="password">
              <mat-error *ngIf="password.invalid">
                {{getErrorPasswordMessage()}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!addressForm.valid" color="primary" type="submit">Entrar</button>
    </mat-card-actions>
  </mat-card>
</form>
